{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        ["babel-plugin-root-import", [
          {
            "rootPathPrefix": "!"
          }
        ]],
        ["import", { "libraryName": "antd", "style": "false" }]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        ["babel-plugin-root-import", [
          {
            "rootPathPrefix": "!"
          }
        ]],
        ["import", { "libraryName": "antd", "style": "false" }]
      ]
    },
    "test": {
      // next/babel does not transpile import/export syntax.
      // So, using es2015 in the beginning will fix that.
      "presets": ["es2015", "next/babel"],
      "plugins": [
        ["babel-plugin-root-import", [
          {
            "rootPathPrefix": "!"
          }
        ]],
        ["import", { "libraryName": "antd", "style": "false" }]
      ]
    }
  }
}
